<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</title>

{{ with .Site.Params.favicon }}
  <link rel="shortcut icon" href="{{ . | absURL }}" type="image/png"
/>{{ end }}

{{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}"
/>{{ end }}
{{ with .Site.Params.meta.keywords }}
  <meta name="keywords" content="{{ . }}"
/>{{ end }}
<meta name="referrer" content="no-referrer-when-downgrade" />

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{ $stylesheetNormalize := resources.Get "css/normalize.css" }}
{{ $stylesheetFA := resources.Get "css/fork-awesome.css" }}
{{ $stylesheetFonts := resources.Get "css/fonts.css" }}
{{ $stylesheetGeneric := resources.Get "css/generic.css" }}

{{ $stylesheetScreen := ( resources.Get "css/_index.scss" | resources.ToCSS ) }}

{{ $stylesheet := slice $stylesheetNormalize $stylesheetFA $stylesheetFonts $stylesheetGeneric $stylesheetScreen | resources.Concat "css/style.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $stylesheet.Permalink }}" type="text/css" />

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/schema.html" . }}

<!-- A partial to be overwritten by the user.
     Simply place a custom_head.html into
     your local /layouts/partials-directory -->
{{- partial "custom_head.html" . -}}
