<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . -}}

    <!-- We do need jQuery to be loaded before HugoScroll script -->

    {{ $scriptJquery := resources.Get "js/jquery-3.6.3.min.js" }}

    <!-- The main JavaScript files for HugoScroll -->
    {{ $scriptIcons := resources.Get "js/icons.js" }}
    {{ $scriptIndex := resources.Get "js/index.js" }}
    {{ $scriptPolyfill := resources.Get "js/css-vars-ponyfill.min.js" }}
    {{ $js := slice $scriptJquery $scriptIcons $scriptIndex $scriptPolyfill | resources.Concat "js/script.js" | resources.Minify | resources.Fingerprint }}

    <script src="{{ $js.Permalink }}" ></script>

    <!-- activate css-vars-ponyfill.min.js -->
    <script>cssVars();</script>

    <!-- A partial to be overwritten by the user.
             Simply place a custom_body.html into
             your local /layouts/partials-directory -->
    {{- partial "custom_body.html" . -}}
  </body>
</html>
